.mx-auto[style="width: 500px;"]
  div
    h1.display-4.text-center.mt-5
      = t('.title')
    = image_tag 'situmon.png', class: 'd-block mx-auto w-50'
    p.text-center.mt-5
      | こちらはRUNTEQ生に気になる質問をして
    p.text-center.mb-5
      | 回答を共有するサービスになります！質問、回答お待ちしております！
    .text-center.d-block
      - if logged_in?

      - else
        .mb-5
          = link_to t('.questions_all'), questions_path, class: 'btn btn-warning'
        = link_to t('defaults.login'), login_path, class: 'btn btn-warning'
        = link_to t('.register_page'), new_user_path, class: 'btn btn-warning'
