<header class='navbar navbar-fixed-top navbar-inverse bg-warning'>
  <div class='container'>
    <%= link_to t('defaults.title'), root_path, id: 'logo', class: 'text-dark pt-2 pb-2 header-font-size' %>
  </div>
</header>