<tr>
  <td>
    <%= answer.name %>
  </td>
  <td>
    <%= answer.content %>
  </td>
  <td class='text-right'>
  <%= link_to t('defaults.edit'), edit_question_answer_path(@question, answer), class: 'btn btn-warning' %>
  <%= link_to t('defaults.delete'), question_answer_path(@question, answer), class: 'btn btn-warning', method: :delete, data: { confirm: t('defaults.message.delete_confirm') } %>
  </td>
</tr>